<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div id="app">
    <!-- <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>
    <div class="container"></div>

    <p class="par1">jestem</p>
    <p class="par1">jestem</p>
    <p class="par1 xd">jestem</p>
    <p class="par1">jestem</p>
    <p class="par1">jestem</p>

    <p class="par2">bardzo jestem</p>
    <p class="par2">bardzo jestem</p>

    <p id="parid1">obecny</p>
    <p id="parid2">obecny</p>

    <p id="parid3">bardzo obecny</p>

    <input type="button" class="button">
    <input type="button" class="button">
    <input type="button" class="button">
    <input type="button" class="button">
    <input type="button" class="button"> 

    <input type="text" class="btn">
    <input type="text" class="btn">
    <input type="text" class="btn">
    <input type="text" class="btn">
    <input type="text" class="btn">

    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number">
    <input type="text" class="number"> 

    <a id="tagA" ></a>
 -->

</div>
 <script src= "../main.js"></script>   
</body>
</html>